@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;

  text-transform: uppercase;

  max-width: 1200px;
  margin: 150px auto;

  color: var(--br-white);
  background-color: var(--da-blue);

  padding: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(14, minmax(50px, 1fr));

  gap: 20px;
}

i {
  font-variation-settings: "slnt" -7;
  font-style: oblique 7deg;
}

.hero-mid {
  grid-column: 4/11;
}

.hero-right {
  grid-column: 11/15;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-sub {
  font-size: 18px;
  font-weight: 700;
}

.countdown-head {
  color: var(--br-purple);
}

.hero-left {
  grid-column: 1/2;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.hero-nav-links {
  margin-bottom: 50px;
}

.hero-main {
  font-size: 104px;
  font-weight: 700;

  letter-spacing: -2px;
  line-height: 1.1em;
}

.hero-sub {
  color: var(--br-green);
}

.date-head {
  color: var(--br-teal);
}

.loc-head {
  color: var(--br-pink);
}

.countdown-timer {
  font-size: 104px;
  letter-spacing: -2px;
  line-height: 1.1em;
}

.hero-sub,
.countdown-head,
.date-head,
.loc-head {
  margin-bottom: 20px;
}

.hero-dates {
  margin-bottom: 30px;
}

.hero-reg {
  background: url(../img/ticket.svg);
  max-width: 234px;
  height: 88px;

  margin-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-button {
  color: var(--da-blue);
}

:root {
  --br-white: #ffffff;
  --da-blue: #0b0b0c;
  --br-green: #80ffa6;
  --br-purple: #ada2f9;
  --br-yellow: #faf173;
  --br-pink: #fb74ad;
  --br-teal: #74f1fb;
}

@media screen and (max-width: 1000px) {
  .hero-mid,
  .hero-right {
    grid-column: 3/11;
  }

  .hero-mid {
    margin-bottom: 100px;
  }

  .hero-right {
    flex-direction: row;
    justify-content: flex-start;
  }

  .hero-left {
    margin-bottom: 100px;
  }

  .countdown {
    margin-right: 100px;
  }
}

@media screen and (max-width: 650px) {
  body {
    margin: 50px auto;
  }

  .hero-left,
  .hero-mid,
  .hero-right {
    grid-column: 2/11;
  }

  .hero-left {
    writing-mode: horizontal-tb;
    transform: rotate(0);
    margin-bottom: 100px;
  }

  .hero-nav-links {
    margin-right: 50px;
  }
}

.hover_img a {
  position: relative;
}
.hover_img a span {
  position: absolute;
  display: none;
  z-index: 99;
}
.hover_img a:hover span {
  display: block;
}

a {
  color: var(--da-blue);
  text-decoration: none;
}

.sponsor-head {
  margin: 150px auto 50px auto;
  width: fit-content;
  color: var(--br-green);
}

.sponsor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.faq-head {
  margin: 150px auto 100px auto;
  max-width: fit-content;
  grid-column: 1/15;
  color: var(--br-green);
}

.faq {
  display: flex;
  justify-content: space-between;
  grid-column: 4/12;

  margin-bottom: 15px;
}

.faq-content {
  max-width: fit-content;
}

.faq-icon {
  background-image: url(../img/faq-open.png);
  height: 22px;
  width: 22px;
}
