@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--small-text);
  font-weight: 600;

  max-width: 800px;
  margin: 2em auto;

  line-height: 1.45;

  color: var(--br-white);
  background-color: var(--dr-purple);
}

img {
  max-width: 100%;
}

a {
  color: var(--dr-purple);
  text-decoration: none;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}

.grid-container {
  display: grid;
  grid-template-columns: var(--grid);

  margin-bottom: 6em;
}

/* Menu Navigation */

#primary-menu {
  grid-column: var(--in-screen);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.3em;

  height: 1em;
}

#sticky-menu {
  position: sticky;
  top: 0px;
  background: var(--dr-purple-blrd);
  backdrop-filter: blur(10px);
  padding: 10px 0 30px 0;

  z-index: 200;
  text-shadow: rgb(0 0 0 / 50%) 0px 1px 3px;
}

.nav-links {
  margin-right: 1.6em;
  color: var(--br-white);

  cursor: pointer;
}

.register {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;

  padding: 9px 20px;
  border-radius: 6px;

  color: var(--dr-purple);
  background-color: var(--br-orange);
  border: none;

  box-shadow: 0px 0px 20px 0px rgb(255 184 77 / 35%);
}

/* Hero */

#hero-left {
  grid-column: var(--hero-left);
}

#hero-right {
  grid-column: var(--hero-right);

  justify-self: end;
}

#hero-left-top {
  margin-bottom: 10px;
}

#hero-left-mid,
#hero-right-bot {
  font-size: var(--large-text);
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1.1em;
}

#hero-left-top,
#hero-right-top {
  color: var(--br-purple);
}

#hero-right-top {
  justify-content: center;
  white-space: nowrap;
}

#hero-left-bot {
  background: url(../assets/ticket.svg);
  max-width: 200px;
  height: 75px;

  margin-top: 3em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.register-caption {
  margin-top: 1em;

  color: var(--br-orange);
}

#register-link {
  color: var(--dr-purple);
}

#asterisk {
  display: inline-block;
  position: absolute;
  margin-left: 0.2em;
}

#hybrid {
  width: 40px;
  height: 40px;
  position: absolute;
  animation: rotation 3s infinite linear;
  max-width: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Sidekick */

#sidekick {
  grid-column: var(--in-screen);

  display: flex;
  justify-content: space-between;
}

.sk-head {
  color: var(--br-peach);

  margin-bottom: 1em;
}

/* Sponsors */

#sponsors-head {
  padding-top: 3em;
}

#sponsors-body {
  grid-column: var(--out-screen);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

#sponsors-body img {
  opacity: 0.4;

  cursor: pointer;

  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#sponsors-body img:hover {
  opacity: 0.7;
}

.sponsor:not(:last-child) {
  margin-right: 50px;
}

/* Schedule */

#schedule-head {
  grid-column: var(--in-screen);
  padding-top: 40px;
  margin-bottom: 100px;
}

.schedule-day {
  grid-column: var(--out-screen);

  display: grid;
  grid-template-columns: var(--grid);
}

.schedule-day:not(:last-child) {
  margin-bottom: 140px;
}

.day-head {
  font-size: 24px;

  grid-column: var(--in-screen);
  margin: 0 auto 70px auto;
}

.day-body {
  grid-column: var(--out-screen);
  display: grid;
  grid-template-columns: var(--grid);
}

.day-nav-container {
  grid-column: var(--in-screen);
}

.day-nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 30px;

  color: var(--br-purple);
  padding-bottom: 20px;
  margin-bottom: 20px;

  margin-top: -10px;
}

.event-frame {
  grid-column: var(--in-screen);
  border: 2px dashed var(--ml-purple);

  padding: 40px 30px 30px 40px;
  font-weight: 400;
  margin-top: 1em;
  box-shadow: 0px 0px 20px 0px rgb(143 121 235 / 9%);
}

.event-params {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-weight: 600;
}

.event-desc {
  margin-bottom: 60px;
}

.event-desc p {
  line-height: 22px;
}

.event-links {
  cursor: pointer;
  padding: 8px 25px;
  white-space: nowrap;
  margin-top: 10px;
}

.active-event {
  color: var(--dr-purple);
  padding: 8px 25px;
  background-color: var(--br-purple);

  border-radius: 20px;
  box-shadow: #8f79eb2e 0px 0px 20px 7px;
}

.super {
  vertical-align: super;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

/* F.A.Q */

#faqs-head {
  grid-column: var(--in-screen);

  margin-bottom: 100px;
  padding-top: 50px;
  color: var(--br-purple);
}

#faqs-body {
  grid-column: var(--in-screen);
}

.faq {
  margin-bottom: 20px;
}

.faq-ques {
  font-weight: 800;

  margin-top: 30px;
  cursor: pointer;
}

.faq-ans {
  font-weight: 400;

  margin-top: 30px;
}

.faq-focus {
  color: var(--br-peach);
}

/* Social */

.social {
  padding: 0.3em;
  border-radius: 30px;
  position: fixed;
  right: 0.1em;
  bottom: 0.1em;

  display: flex;
  flex-direction: row;
}

.social-icons {
  width: 40px;
  margin-right: 10px;
}

/* Style Scheme */

.section-heading {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4px;

  grid-column: var(--in-screen);
  margin: 0 auto 80px auto;

  opacity: 0.5;

  text-transform: uppercase;
  white-space: nowrap;
}

/* Shia - Just do it */

#register-link img {
  max-width: none;
}

.hover-img a {
  position: relative;
}

.hover-img a span {
  position: absolute;
  display: none;
  z-index: 99;
}

.hover-img a:hover span {
  display: block;
}

.monotone {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* Variables */

:root {
  --dr-blue: #010912;
  --br-gray: #d2dae4;
  --br-pink: #e60067;
  --br-white: #ffffff;
  --fd-blue: #192738;
  --dr-blue-blrd: #010912d9;

  --dr-purple-blrd: #151124e3;
  --dr-purple: #151124;
  --br-purple: #8f79eb;
  --ml-purple: #352e53;

  --br-yellow: #ffe34b;
  --br-peach: #fa7362;
  --br-orange: #ffb84d;
  --fml-blue: #213857;
  --ml-blue: #6aa7f8;

  --large-text: 96px;
  --small-text: 18px;

  --grid: repeat(10, minmax(40px, 1fr));
  --in-screen: 2/10;
  --out-screen: 1/11;

  --hero-left: 2/8;
  --hero-right: 8/10;
}

@media screen and (max-width: 780px) {
  /* #sticky-menu {
    position: relative;
  } */

  #sponsors-body {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .section-heading {
    font-size: 14px;
  }

  .sponsor img {
    max-width: 300px;
    margin-top: 30px;
  }

  .sponsor:not(:last-child) {
    margin-right: 0;
  }

  .day-nav {
    grid-column: var(--in-screen);
  }

  .day-nav {
    flex-wrap: wrap;
    justify-content: left;
    margin-top: -10px;
  }

  .event-links {
    margin-top: 10px;
  }

  #hybrid {
    width: 25px;
    height: 25px;
  }

  .day-nav {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --large-text: 50px;
    --small-text: 16px;
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 0 2em 2em 2em;
  }

  :root {
    --grid: repeat(8, minmax(40px, 1fr));
    --in-screen: 1/9;
    --out-screen: 1/9;

    --hero-left: 1/7;
    --hero-right: 7/9;

    --large-text: 50px;
    --small-text: 16px;
  }

  .day-body,
  .grid-container,
  .schedule-day {
    display: grid;
    grid-template-columns: var(--grid);
  }
}
