@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: var(--small-text);

  max-width: 800px;
  margin: 100px auto 0 auto;

  color: var(--br-white);
  background-color: var(--da-blue);

  padding: 30px;
}

a {
  color: var(--br-white);
  text-decoration: none;
}

p {
  margin-bottom: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, minmax(30px, 1fr));

  margin-bottom: 120px;
}

/* Hero */

#hero-nav {
  grid-column: 1/9;

  margin-bottom: 100px;
}

.hero-nav-links {
  margin-right: 20px;
}

.hero-nav-links {
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
}

.hero-nav-links:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2374f1fb' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

#hero-left {
  grid-column: 1/7;
}

#hero-right {
  grid-column: 7/9;
}

#hero-main-body,
#hero-cd-body {
  font-size: var(--large-text);
  letter-spacing: -2px;
  line-height: 1.1em;
}

#hero-cd-body {
  white-space: nowrap;
}

#hero-date-loc {
  grid-column: 1/9;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: -30px;
}

#hero-date {
  margin-right: 30px;
}

#hero-date,
#hero-loc {
  margin-top: 30px;
}

#hero-main-head,
#hero-cd-head,
#hero-date-head,
#hero-loc-head {
  margin-bottom: 15px;
}

#hero-reg {
  background: url(../img/ticket.svg);
  max-width: 200px;
  height: 75px;

  margin-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#register-link {
  color: var(--da-blue);
}

#asterisk {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
}

#hybrid {
  width: 30px;
  height: 30px;
  position: absolute;
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Sponsors */

#ss-head {
  grid-column: 1/9;

  margin-bottom: 100px;
}

#ss-body {
  grid-column: 1/9;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: -20px;
}

#ss-body img {
  margin-top: 20px;
  max-width: 100%;
}

/* Schedules */

#sch-head,
.sch-day-head,
.sch-day-body {
  grid-column: 1/9;
}

#sch-head {
  margin-bottom: 100px;
}

.event {
  display: grid;
  grid-column: 1/9;

  cursor: pointer;
}

.event-head {
  grid-column: 1/8;
  white-space: nowrap;

  margin-right: 20px;
}

.event-loc {
  grid-column: 8/9;
}

.sch-day-head {
  margin-bottom: 75px;
}

.event:not(:last-child) {
  margin-bottom: 20px;
}

.sch-day-body:not(:last-child) {
  margin-bottom: 150px;
}

.event-loc {
  justify-self: end;
  white-space: nowrap;

  margin-left: 20px;
}

.event-desc {
  grid-column: 1/9;
  font-weight: 400;
  text-transform: none;

  margin-top: 20px;
}

.event-header {
  grid-column: 1/9;
  display: flex;
  justify-content: space-between;
}

.divider {
  width: 100%;
  margin-top: -10px;
  height: 95%;
  border-bottom: 2px solid var(--dr-gray);
}

/* F.A.Q */

#faqs-head,
#faqs-container {
  grid-column: 1/9;
}

#faqs-head {
  margin-bottom: 100px;
}

.faq {
  display: grid;
  grid-template-columns: repeat(8, minmax(30px, 1fr));

  padding: 16px 0 15px 0;
  border-bottom: 2px solid var(--dr-gray);
}

.faq:first-child {
  border-top: 2px solid var(--dr-gray);
}

.faq-question {
  grid-column: 1/8;
}

.faq-answer {
  grid-column: 1/9;

  margin: 30px 0 10px 30px;
  text-transform: none;
  font-weight: 400;
}

.faq-icon {
  cursor: pointer;
  grid-column: 8/9;
  background-image: url(../img/faq-open.svg);
  justify-self: end;
  height: 22px;
  width: 22px;
  transform: rotate(90deg);
  transition: all 200ms linear;
}

.faq-open {
  transform: rotate(45deg);
}

/* Colors */

#hero-main-head,
#ss-head,
#sch-head,
#faqs-head {
  color: var(--br-green);
}

#hero-cd-head {
  color: var(--br-purple);
}

#hero-date-head,
.event-loc {
  color: var(--br-teal);
}

#hero-loc-head {
  color: var(--br-pink);
}

/* Shia - Just do it */

.hover-img a {
  position: relative;
}

.hover-img a span {
  position: absolute;
  display: none;
  z-index: 99;
}

.hover-img a:hover span {
  display: block;
}

.monotone {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* Variables */

:root {
  --br-white: #ffffff;
  --da-blue: #0b0b0c;
  --br-green: #80ffa6;
  --br-purple: #ada2f9;
  --br-yellow: #faf173;
  --br-pink: #fb74ad;
  --br-teal: #74f1fb;
  --dr-gray: #212121;

  --large-text: 92px;
  --small-text: 18px;
}

@media screen and (max-width: 780px) {
  #ss-body {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  body {
    margin: 0 auto;
  }

  :root {
    --large-text: 50px;
    --small-text: 14px;
  }
}

/* JavaScript Changes */

.display-none {
  display: none;
}
